
   <mat-nav-list>
    <div class="sidenav-header">
      <div class="logo-container">
        <mat-icon class="logo-icon">school</mat-icon>
        <span class="logo-text">Teacher Match</span>
      </div>
    </div>
  
    @for (item of navItems; track item.label) {
      <a mat-list-item 
      [routerLink]="item.route" 
      routerLinkActive="active-link"
      [hidden]="!isVisible(item)">
     <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
     <span matListItemTitle>{{ item.label }}</span>
   </a>
    }
  </mat-nav-list>
  