.sidenav-header {
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: rgba(0, 0, 0, 0.04);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    margin-right: 8px;
    color: #3f51b5;
  }
  
  .logo-text {
    font-size: 18px;
    font-weight: 500;
  }
  
  .active-link {
    background-color: rgba(0, 0, 0, 0.04);
  }
  