.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .app-title {
    margin-left: 8px;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 8px;
    font-size: 14px;
    
    @media (max-width: 600px) {
      display: none;
    }
  }
  