<mat-toolbar color="primary" class="header">
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span class="app-title">User Management System</span>
    
    <span class="spacer"></span>
    @if(currentUser){
    <div class="user-info">
      <span class="user-name">{{ currentUser.name }}</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/users', currentUser.id]">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
}
  </mat-toolbar>
  